<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="w-full max-w-md p-8 bg-white rounded-xl shadow-md">
    <div class="flex items-center justify-center mb-8">
      <img class="mr-1" src="favicon-32x32.png" alt="" />
      <h1 class="text-xl font-semibold">ADMIN</h1>
    </div>
    <form action="" method="post">
      <label for="email" class="text-sm font-medium">Email</label>
      <div>
        <input
          class="border border-gray-300 w-full rounded h-10 mb-4 p-3 text-sm"
          type="text"
          id="email"
        />
      </div>
      <label for="password" class="text-sm font-medium">Password</label>
      <div>
        <input
          class="border border-gray-300 w-full rounded h-10 mb-4 p-3 text-sm"
          type="password"
          id="password"
        />
      </div>
      <div class="flex justify-center mb-3">
        <button class="py-2 rounded bg-gray-900 text-white w-full text-sm">
          Login
        </button>
      </div>
    </form>
    <div>
      <a href="/">Return to user page</a>
    </div>
  </div>
</div>
