<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="w-full max-w-xs p-8 bg-white rounded-xl shadow-md">
    <div class="flex items-center justify-center mb-8">
      <img class="mr-1" src="favicon-32x32.png" alt="" />
      <h1 class="text-lg font-semibold">ADMIN</h1>
    </div>
    <form action="" method="post">
      <label for="email">Email</label>
      <div>
        <input
          class="border border-gray-100 w-full rounded h-8 mb-4 p-3"
          type="text"
          id="email"
        />
      </div>
      <label for="password">Password</label>
      <div>
        <input
          class="border border-gray-100 w-full rounded h-8 mb-4 p-3"
          type="password"
          id="password"
        />
      </div>
      <div class="flex justify-center">
        <button class="py-2 rounded bg-gray-900 text-white w-full">
          Login
        </button>
      </div>
    </form>
  </div>
</div>
