<div class="flex h-screen">
  <div class="w-[13%] p-6 bg-white">
    <div class="flex justify-center items-center mb-10">
      <img class="w-8 h-8 mr-1" src="favicon-32x32.png" alt="" />
      <h1 class="font-bold text-lg">ADMIN</h1>
    </div>
    <a
      href="admin/dashboard"
      class="flex items-center py-2 px-8 hover:bg-gray-200 text-gray-500 hover:text-gray-950 rounded-lg mb-4"
    >
      <i class="fa-solid fa-chart-line mr-3"></i>
      <h1 class="font-semibold">Dashboard</h1>
    </a>
    <a
      href="admin/category"
      class="flex items-center py-2 px-8 hover:bg-gray-200 text-gray-500 hover:text-gray-950 rounded-lg mb-4"
    >
      <i class="fa-solid fa-list mr-3"></i>
      <h1 class="font-semibold">Category</h1>
    </a>
    <a
      href="admin/product"
      class="flex items-center py-2 px-8 hover:bg-gray-200 text-gray-500 hover:text-gray-950 rounded-lg mb-4"
    >
      <i class="fa-solid fa-box-archive mr-3"></i>
      <h1 class="font-semibold">Product</h1>
    </a>
    <a
      href="admin/order"
      class="flex items-center py-2 px-8 hover:bg-gray-200 text-gray-500 hover:text-gray-950 rounded-lg mb-4"
    >
      <i class="fa-solid fa-cart-shopping mr-3"></i>
      <h1 class="font-semibold">Orders</h1>
    </a>
    <a
      href="admin/customers"
      class="flex items-center py-2 px-8 hover:bg-gray-200 text-gray-500 hover:text-gray-950 rounded-lg mb-4"
    >
      <i class="fa-solid fa-user-group mr-3"></i>
      <h1 class="font-semibold">Customers</h1>
    </a>
  </div>
  <main class="w-[87%] bg-gray-200 text-lg pl-20 pr-20">
    <div class="flex items-center mb-8 justify-between">
      <xng-breadcrumb [autoGenerate]="false" separator=">">
        <div class="py-5" *xngBreadcrumbItem="let breadcrumb">
          <b [routerLink]="breadcrumb.label">{{ breadcrumb }}</b>
        </div>
      </xng-breadcrumb>

      <a href="" class="ml-auto text-gray-500 hover:text-gray-950">
        <i class="fa-solid fa-right-from-bracket"></i>
      </a>
    </div>
    <router-outlet></router-outlet>
  </main>
</div>
