<div class="2xl:px-56 py-8">
  <div class="flex gap-4">
    <div class="w-1/6">
      <form class="border py-6 px-6 rounded-lg">
        <h5 class="text-lg font-medium mb-4">Categories</h5>
        <div class="flex border-b py-2 px-2 items-center" *ngFor="let category of categoryService.categoryList">
          <input type="checkbox" name="category" class="w-5 h-5 accent-[#474B57] cursor-pointer border-[#E6E7E8]"
            [value]="category.id" [checked]="selectedCategory === category.id"
            (change)="onCategorySelect($event, category.id)">
          <label class="ml-3 cursor-pointer text-lg text-[#474B57]">{{ category.name }}</label>
        </div>
      </form>


    </div>
    <div class="w-5/6 py-6 px-6">
      <h1 class="text-lg font-medium mb-4">Products</h1>
      <section class="flex justify-end mb-4">
        <select [(ngModel)]="selectedSortOption" (change)="sortItems()"
          class="px-2 focus:outline-none cursor-pointer text-[#5C5F6A] font-medium ">
          <option value="" [selected]="selectedSortOption === ''">SORT BY</option>
          <option value="nameA">Name A to Z</option>
          <option value="nameB">Name Z to A</option>
          <option value="priceA">Price Low to High</option>
          <option value="priceB">Price High to Low</option>
        </select>
      </section>
      <section class="">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-x-6 gap-y-8">
          <a href="" class="w-full py-4 px-2 group" *ngFor="let product of productService.list">
            <div class="relative w-full h-[312px] bg-[#F6F6F6] mb-6 rounded-md overflow-hidden">
              <img
                class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2  group-hover:scale-105 abc"
                src="image.png" alt="Shopping Bag">
              <div
                class="absolute top-0 left-0 w-full h-full bg-white bg-opacity-20 opacity-0 group-hover:opacity-100 transition-opacity">
              </div>
              <form
                class="absolute bottom-1 left-1/2 transform -translate-x-1/2 opacity-0 group-hover:opacity-100 w-full ">
                <div class="w-full bg-[#0E1422] text-white flex justify-center items-center py-3 rounded-b-md">
                  <button class="text-white text-base" type="submit">Add to cart</button>
                  <i class="fa-solid fa-cart-shopping ml-3 fa-lg"></i>
                </div>
              </form>
            </div>
            <div class="text-[#0E1422] text-base font-medium pl-1">{{product.name}}</div>
            <div class="flex items-center">
              <div class="py-1 px-4 border text-sm rounded-full mr-4">In Stock</div>
              <div class="text-[#474B57] text-base">${{product.price}}</div>
            </div>
          </a>
        </div>
      </section>
    </div>
  </div>
</div>