<div>
  <section class="w-full h-[440px] bg-[#f6f6f6]">

  </section>
  <section class="py-24 flex justify-evenly mb-16">
    <div class="w-[350px] h-[170px]">
      <div class="flex items-center justify-center w-12 h-12 rounded-full bg-[#F6F6F6] text-[#0E1422] mb-5">
        <i class="fa-solid fa-truck fa-lg"></i>
      </div>
      <div class="text-[#0E1422] text-base font-bold mb-3">Free Shipping</div>
      <div class="text-[#5C5F6A] text-sm w-[300px] h-[50px]">Upgrade your style today and get FREE shipping on all
        orders! Don't miss out.</div>
    </div>
    <div class="w-[350px] h-[170px]">
      <div class="flex items-center justify-center w-12 h-12 rounded-full bg-[#F6F6F6] text-[#0E1422] mb-5">
        <i class="fa-solid fa-award fa-lg"></i>
      </div>
      <div class="text-[#0E1422] text-base font-bold mb-3">Satisfaction Guarantee</div>
      <div class="text-[#5C5F6A] text-sm w-[300px] h-[50px]">Shop confidently with our Satisfaction Guarantee: Love it
        or get a refund.</div>
    </div>
    <div class="w-[350px] h-[170px]">
      <div class="flex items-center justify-center w-12 h-12 rounded-full bg-[#F6F6F6] text-[#0E1422] mb-5">
        <i class="fa-solid fa-check fa-lg"></i>
      </div>
      <div class="text-[#0E1422] text-base font-bold mb-3">Secure Payment</div>
      <div class="text-[#5C5F6A] text-sm w-[300px] h-[50px]">Your security is our priority. Your payments are secure
        with us.</div>
    </div>
  </section>
  <section class="mb-40">
    <h1 class="text-2xl font-extrabold text-center text-[#0E1422] mb-20">
      Best Selling</h1>

    <div class="flex justify-center items-center gap-5 px-30">
      <div class="w-[280px] h-[500px] py-4 px-2 group">
        <div class="relative w-full h-[312px] bg-[#F6F6F6] mb-6 rounded-md overflow-hidden">
          <img class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2  group-hover:scale-105 abc"
            src="image.png" alt="Shopping Bag">
          <div
            class="absolute top-0 left-0 w-full h-full bg-white bg-opacity-20 opacity-0 group-hover:opacity-100 transition-opacity">
          </div>
          <form class="absolute bottom-1 left-1/2 transform -translate-x-1/2 opacity-0 group-hover:opacity-100 w-full ">
            <div class="w-full bg-[#0E1422] text-white flex justify-center items-center py-3 rounded-b-md">
              <button class="text-white text-base" type="submit">Add to cart</button>
              <i class="fa-solid fa-cart-shopping ml-3 fa-lg"></i>
            </div>
          </form>
        </div>
        <div class="text-[#0E1422] text-base font-medium pl-1">ürün adı</div>
        <div class="flex items-center">
          <div class="py-1 px-4 border text-sm rounded-full mr-4">In Stock</div>
          <div class="text-[#474B57] text-base">$100</div>
        </div>
      </div>
      <div class="w-[280px] h-[500px] py-4 px-2 group">
        <div class="relative w-full h-[312px] bg-[#F6F6F6] mb-6 rounded-md overflow-hidden">
          <img class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2  group-hover:scale-105 abc"
            src="image.png" alt="Shopping Bag">
          <div
            class="absolute top-0 left-0 w-full h-full bg-white bg-opacity-20 opacity-0 group-hover:opacity-100 transition-opacity">
          </div>
          <form class="absolute bottom-1 left-1/2 transform -translate-x-1/2 opacity-0 group-hover:opacity-100 w-full ">
            <div class="w-full bg-[#0E1422] text-white flex justify-center items-center py-3 rounded-b-md">
              <button class="text-white text-base" type="submit">Add to cart</button>
              <i class="fa-solid fa-cart-shopping ml-3 fa-lg"></i>
            </div>
          </form>
        </div>
        <div class="text-[#0E1422] text-base font-medium pl-1">ürün adı</div>
        <div class="flex items-center">
          <div class="py-1 px-4 border text-sm rounded-full mr-4">In Stock</div>
          <div class="text-[#474B57] text-base">$100</div>
        </div>
      </div>
      <div class="w-[280px] h-[500px] py-4 px-2 group">
        <div class="relative w-full h-[312px] bg-[#F6F6F6] mb-6 rounded-md overflow-hidden">
          <img class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2  group-hover:scale-105 abc"
            src="image.png" alt="Shopping Bag">
          <div
            class="absolute top-0 left-0 w-full h-full bg-white bg-opacity-20 opacity-0 group-hover:opacity-100 transition-opacity">
          </div>
          <form class="absolute bottom-1 left-1/2 transform -translate-x-1/2 opacity-0 group-hover:opacity-100 w-full ">
            <div class="w-full bg-[#0E1422] text-white flex justify-center items-center py-3 rounded-b-md">
              <button class="text-white text-base" type="submit">Add to cart</button>
              <i class="fa-solid fa-cart-shopping ml-3 fa-lg"></i>
            </div>
          </form>
        </div>
        <div class="text-[#0E1422] text-base font-medium pl-1">ürün adı</div>
        <div class="flex items-center">
          <div class="py-1 px-4 border text-sm rounded-full mr-4">In Stock</div>
          <div class="text-[#474B57] text-base">$100</div>
        </div>
      </div>
    </div>
  </section>
</div>