<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="w-full max-w-lg p-8 bg-white rounded-xl shadow-md">
    <h2 class="text-3xl font-semibold text-center text-gray-800 mb-6">
      Sign In
    </h2>
    <div *ngIf="authService.errorMessage" class="text-red-600 text-center mb-4">
      {{ authService.errorMessage }}
    </div>
    <form
      [formGroup]="authService.form"
      (submit)="onSubmit()"
      class="space-y-5"
      #f="ngForm"
    >
      <div>
        <label for="email" class="block text-sm font-medium text-gray-600">
          Email
        </label>
        <input
          type="email"
          id="email"
          name="email"
          formControlName="email"
          placeholder="you@example.com"
          class="w-full p-4 border border-gray-300 rounded-lg focus:ring-2 focus:ring-indigo-600"
          required
        />
        <div
          class="text-red-600"
          *ngIf="
            (authService.form.get('email')?.touched &&
              authService.form.get('email')?.invalid) ||
            f.submitted
          "
        >
          <span *ngIf="authService.form.get('email')?.hasError('required')"
            >Email cannot be empty.</span
          >
          <span *ngIf="authService.form.get('email')?.hasError('email')"
            >Invalid email format.</span
          >
        </div>
      </div>

      <div>
        <label for="password" class="block text-sm font-medium text-gray-600">
          Password
        </label>
        <input
          type="password"
          id="password"
          name="password"
          formControlName="password"
          placeholder="Your password"
          class="w-full p-4 border border-gray-300 rounded-lg focus:ring-2 focus:ring-indigo-600"
          required
        />
        <div
          *ngIf="
            (authService.form.get('password')?.touched &&
              authService.form.get('password')?.invalid) ||
            f.submitted
          "
          class="text-red-600"
        >
          <span *ngIf="authService.form.get('password')?.hasError('required')"
            >Password cannot be empty.</span
          >
          <span *ngIf="authService.form.get('password')?.hasError('minlength')"
            >Minimum length is 5 characters.</span
          >
        </div>
      </div>

      <div class="flex items-center justify-between">
        <div class="flex items-center">
          <input
            type="checkbox"
            id="remember"
            name="remember"
            class="h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded"
          />
          <label for="remember" class="ml-2 text-sm text-gray-600">
            Remember Me
          </label>
        </div>
        <a href="#" class="text-sm text-indigo-600 hover:text-indigo-700">
          Forgot Password?
        </a>
      </div>

      <div>
        <button
          type="submit"
          class="w-full py-3 text-white bg-indigo-600 rounded-lg hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-600"
        >
          Sign In
        </button>
      </div>
    </form>
    <div class="flex justify-center mt-4">
      <a href="" class="text-indigo-600 hover:text-indigo-700">
        Return to Back
      </a>
    </div>
  </div>
</div>
