<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog-AspNetCore.txt">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
	<targets>

		<!-- Log to file -->
		<target xsi:type="File" name="ownFile-web"
				fileName="c:\temp\nlog-AspNetCore-own-${shortdate}.log"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url} | action: ${aspnet-mvc-action} | method:${aspnet-request-method}" />

		<!-- Log to Database -->
		<target xsi:type="Database" name="database"
				connectionString="${configsetting:item=ConnectionStrings.SqlServer}"
				commandText="INSERT INTO Logs (TimeStamp, Logger, Level, Url, Action, Method, Message, Exception)
							VALUES (@time_stamp, @logger, @level, @url, @action, @method, @message, @exception)">
			<parameter name="@time_stamp" layout="${longdate}" />
			<parameter name="@logger" layout="${logger}" />
			<parameter name="@level" layout="${level:uppercase=true}" />
			<parameter name="@url" layout="${aspnet-request-url}" />
			<parameter name="@action" layout="${aspnet-mvc-action}" />
			<parameter name="@method" layout="${aspnet-request-method}" />
			<parameter name="@message" layout="${message}" />
			<parameter name="@exception" layout="${exception:format=ToString,StackTrace}" />
		</target>

	</targets>

	<rules>
		<logger name="Microsoft.*" finalMinLevel="Warn" />
		<logger name="*" minLevel="Trace" writeTo="ownFile-web" />
		<logger name="*" minLevel="Trace" writeTo="database" />
	</rules>

</nlog>
