<header>
  <form (submit)="submitForm($event)" class="flex justify-center items-center">
    <button class="bg-blue-500 text-white rounded mr-4 py-1 px-2" type="submit">
      Gönder
    </button>
    <label for="2">checkbox 1:</label>
    <input
      class="mr-4 ml-1 h-4 w-4"
      type="checkbox"
      value="bf819a31-e3b2-4421-8646-08dd1ad263ef"
      (change)="service.onCategorySelect($event)"
      name="category"
    />
  </form>
</header>

<section class="py-12">
  <div class="container mx-auto px-4">
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
      <!-- Product card -->
      <div
        class="bg-white shadow-md rounded-md overflow-hidden"
        *ngFor="let item of service.list"
      >
        <div class="relative">
          <span
            class="absolute top-2 right-2 bg-gray-900 text-white text-sm px-2 py-1 rounded"
            >Sale</span
          >
          <img
            src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg"
            alt="Product"
            class="w-full"
          />
        </div>
        <div class="p-4">
          <h3 class="text-lg font-semibold">{{ item.name }}</h3>
          <div
            class="flex justify-center items-center text-yellow-400 my-2"
          ></div>
          <p class="text-gray-600">
            Açıklama: <span>{{ item.description }}</span>
          </p>
          <p class="text-gray-600">
            kategori: <span>{{ item.categoryname }}</span>
          </p>
          <p class="text-gray-600">Fiyat:{{ item.price }}</p>
          <p class="text-gray-600">Stok:{{ item.stock }}</p>
        </div>
        <div class="p-4 border-t">
          <button class="w-full bg-gray-900 text-white py-2 rounded">
            Add to Cart
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
