<div class="bg-white min-h-[80%] rounded-md">
  <header class="px-14 py-6">
    <h1 class="font-semibold">Add Category</h1>
  </header>
  <hr />
  <main class="px-14 py-14 flex justify-center">
    <form action="">
      <div class="flex-col">
        <label for="">Category Name</label>
        <div>
          <input
            class="border border-gray-300 hover:border-gray-700 px-3 py-1 w-80 rounded-md"
            type="text"
          />
        </div>
        <button class="px-5 py2 bg-black text-white" type="submit">
          Submit
        </button>
      </div>
    </form>
  </main>
</div>
